In [15]:
import pandas as pd
from sklearn.impute import KNNImputer

In [16]:
# Read the train.csv file
df = pd.read_csv('data/train.csv')

# Display the first few rows of the dataframe
df.head()

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,...,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,0,19.0,Female,10049.0,Married,1.0,Bachelor's,Self-Employed,22.598761,Urban,...,2.0,17.0,372.0,5.0,2023-12-23 15:21:39.134960,Poor,No,Weekly,House,2869.0
1,1,39.0,Female,31678.0,Divorced,3.0,Master's,NaN,15.569731,Rural,...,1.0,12.0,694.0,2.0,2023-06-12 15:21:39.111551,Average,Yes,Monthly,House,1483.0
2,2,23.0,Male,25602.0,Divorced,3.0,High School,Self-Employed,47.177549,Suburban,...,1.0,14.0,NaN,3.0,2023-09-30 15:21:39.221386,Good,Yes,Weekly,House,567.0
3,3,21.0,Male,141855.0,Married,2.0,Bachelor's,NaN,10.938144,Rural,...,1.0,0.0,367.0,1.0,2024-06-12 15:21:39.226954,Poor,Yes,Daily,Apartment,765.0
4,4,21.0,Male,39651.0,Single,1.0,Bachelor's,Self-Employed,20.376094,Rural,...,0.0,8.0,598.0,4.0,2021-12-01 15:21:39.252145,Poor,Yes,Weekly,House,2022.0

In [17]:
numerical_values = df.select_dtypes(include=['int64', 'float64'])

In [18]:
df.columns

Index(['id', 'Age', 'Gender', 'Annual Income', 'Marital Status',
       'Number of Dependents', 'Education Level', 'Occupation', 'Health Score',
       'Location', 'Policy Type', 'Previous Claims', 'Vehicle Age',
       'Credit Score', 'Insurance Duration', 'Policy Start Date',
       'Customer Feedback', 'Smoking Status', 'Exercise Frequency',
       'Property Type', 'Premium Amount'],
      dtype='object')

In [19]:
missing_values_table = pd.DataFrame({
    'Column': numerical_values.columns,
    'Missing Values': [df[i].isna().sum() for i in numerical_values.columns]
})

print(missing_values_table)

                 Column  Missing Values
0                    id               0
1                   Age           18705
2         Annual Income           44949
3  Number of Dependents          109672
4          Health Score           74076
5       Previous Claims          364029
6           Vehicle Age               6
7          Credit Score          137882
8    Insurance Duration               1
9        Premium Amount               0

In [48]:
# Create a sample of the dataset with the desired sample size
sample_size = 0.1  # Adjust this value to change the sample size
sample_df = df.sample(frac=sample_size, random_state=42)

# Display the sample
print(sample_df)

# Save the sample to a new CSV file
sample_df.to_csv('Data/train_sample.csv', index=False)

              id   Age  Gender  Annual Income Marital Status  \
372605    372605  52.0  Female         5538.0        Married
551204    551204  60.0  Female        39711.0        Married
240320    240320  58.0  Female         2364.0        Married
1047361  1047361  39.0    Male         9094.0       Divorced
555362    555362  47.0    Male        43189.0       Divorced
...          ...   ...     ...            ...            ...
1015016  1015016  44.0    Male        23991.0       Divorced
145198    145198  23.0    Male        19169.0            NaN
1023826  1023826  23.0  Female        11300.0        Married
987529    987529  21.0  Female        70722.0       Divorced
443977    443977  45.0    Male        29071.0         Single

         Number of Dependents Education Level     Occupation  Health Score  \
372605                    NaN        Master's       Employed      8.093145
551204                    4.0      Bachelor's       Employed           NaN
240320                    2.0      Bachelor's            NaN     34.452482
1047361                   0.0      Bachelor's            NaN     26.241661
555362                    NaN             PhD            NaN     26.691921
...                       ...             ...            ...           ...
1015016                   2.0      Bachelor's            NaN     19.886027
145198                    0.0             PhD     Unemployed     11.822618
1023826                   3.0             PhD            NaN     31.946503
987529                    1.0      Bachelor's  Self-Employed     43.097884
443977                    NaN             PhD            NaN      3.231908

         Location  ... Previous Claims  Vehicle Age  Credit Score  \
372605      Rural  ...             0.0         18.0         497.0
551204   Suburban  ...             0.0          3.0         340.0
240320      Urban  ...             2.0         19.0           NaN
1047361     Rural  ...             1.0         17.0         761.0
555362   Suburban  ...             1.0          4.0         319.0
...           ...  ...             ...          ...           ...
1015016     Urban  ...             NaN          9.0           NaN
145198      Urban  ...             0.0          5.0         391.0
1023826  Suburban  ...             1.0          4.0         694.0
987529   Suburban  ...             NaN         11.0         502.0
443977      Rural  ...             1.0          6.0         758.0

         Insurance Duration           Policy Start Date Customer Feedback  \
372605                  3.0  2020-02-10 15:21:39.274993           Average
551204                  3.0  2020-10-16 15:21:39.097737              Poor
240320                  7.0  2021-01-02 15:21:39.126661              Poor
1047361                 5.0  2022-05-11 15:21:39.134960              Poor
555362                  4.0  2020-07-28 15:21:39.181605              Poor
...                     ...                         ...               ...
1015016                 2.0  2021-01-25 15:21:39.229482              Poor
145198                  6.0  2021-03-24 15:21:39.270454              Poor
1023826                 2.0  2020-07-30 15:21:39.182597           Average
987529                  2.0  2023-04-28 15:21:39.155231              Poor
443977                  6.0  2020-06-16 15:21:39.095696           Average

        Smoking Status Exercise Frequency Property Type Premium Amount
372605              No             Weekly     Apartment         2742.0
551204              No             Weekly     Apartment         1347.0
240320              No            Monthly         House         2196.0
1047361            Yes             Rarely         Condo          684.0
555362             Yes             Weekly     Apartment         1714.0
...                ...                ...           ...            ...
1015016            Yes             Rarely     Apartment          226.0
145198             Yes              Daily         House         1390.0
1023826             No            Monthly         Condo          828.0
987529              No            Monthly     Apartment           21.0
443977             Yes             Rarely         Condo          122.0

[120000 rows x 21 columns]

In [49]:
numerical_values_smaple_df = sample_df.select_dtypes(include=['int64', 'float64'])

In [50]:
# Initialize the KNNImputer
imputer = KNNImputer(n_neighbors=3)

# Perform imputation on the numerical values
numerical_values_imputed = imputer.fit_transform(numerical_values_smaple_df)

# Update the dataframe with the imputed values
sample_df['Age'] = numerical_values_imputed[:, numerical_values_smaple_df.columns.get_loc('Age')]

In [51]:
missing_values_sample_table = pd.DataFrame({
    'Column': numerical_values_smaple_df.columns,
    'Missing Values': [sample_df[i].isna().sum() for i in numerical_values_smaple_df.columns]
})

print(missing_values_sample_table)

                 Column  Missing Values
0                    id               0
1                   Age               0
2         Annual Income            4548
3  Number of Dependents           10800
4          Health Score            7355
5       Previous Claims           36198
6           Vehicle Age               0
7          Credit Score           13765
8    Insurance Duration               0
9        Premium Amount               0